#!/usr/bin/env rc

jq -f met_pre.jq <../../data/metaculus.json |
jq '.[]|[.res, .restime, .commpred, .predtime]|@csv' |
tr -d '\\"' |
sed 's/\.[0-9]\+Z//' |
tr ':TZ-' ' ' |
awk -F, '{ printf("%.0f,%g,%d\n", $1, $3, mktime($2)-$4) }'
