*.html
*.eps
*.log
*.aux
*.bbl
*.blg
*.log
*.dvi
.*vis*
*.o
!header.html
code/turning/confusions.csv
code/turning/subgraphs.csv
code/turning/subgraphs_overview.csv
__pycache__
precision
code/turning/confusions_fast.csv
code/turning/gen_data_fast.py
code/turning/subgraphs_fast.csv
