*.html
*.eps
*.log
*.aux
*.bbl
*.blg
*.log
*.dvi
.*vis*
*.o
!header.html

__pycache__

code/turning/*.csv
code/process/state
code/champagne/attempt*.json
code/logical/target/

anim/*/media
notes_on_locations.*

node_modules
package.json
package-lock.json
lowdown/
