body {
	color: #444;
	font-size: 18px;
	line-height: 1.6;
	margin: 40px auto;
	max-width: 700px;
	padding: 0 10px;
}

pre {
	background: #eee;
	padding: 0.2em 5px;
	overflow: scroll;
}

div {
	background: #f0f0f0;
	padding: 0.2em 5px;
	overflow: scroll;
}

blockquote {
	background: #f5f5f5;
	margin: 1.5em 10px;
	padding: 0.5em 10px;
}

.hanchor {
	color: #222;
	text-decoration: none;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
